<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Crypto Backers;  An ITU study group</title>

        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="css/grayscale.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
        <!--Angular-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
        <script src="https://code.angularjs.org/1.5.5/angular-sanitize.js"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body id="page-top" data-spy="scroll" data-target="#main-nav"  ng-app="bindApp" ng-controller="repeatCtrl as ctrl">

        <!-- Navigation -->
        <div class="navbar navbar-custom navbar-fixed-top">
            <div class="container">
                <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#main-nav">
                    &#9776;
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Crypto Backers</a>
                <div class="collapse navbar-toggleable-sm" id="main-nav">
                    <ul class="nav navbar-nav pull-sm-right">
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#download">Conference</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#education">Education</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#press">Press</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Intro Header -->
        <header class="intro">
            <div class="intro-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h1 class="brand-heading">Crypto backers</h1>
                            <p class="intro-text">An IT-University based study group</p>
                            <p class="intro-text">Focusing on digital privacy information and education <br>Created by students for all.</p>
                            <a href="#about" class="btn btn-circle page-scroll">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- About Section -->
        <section id="about" class="container content-section text-xs-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>About Crypto backers</h2>
                    <p>The digital privacy is threatened by both commercial as well as governmental surveillance. All digital information and traffic is collected, this is why it is important to elucidate in this matter. We host a conference to enlighten students about the data collection, about their digital privacy and how they can regain control of the same.</p>
                </div>
            </div>
        </section>

        <!-- Download Section -->
        <section  class="content-section text-xs-center">
            <div id="download" class="download-section">
                <div class="container">
                    <div class="col-lg-8 col-lg-offset-2">
                       
                        <img id="logo" src="img/Crypto-logo_banner.png" alt="Crypto-logo_banner"/>
                         <h2 id="conf-date"><small>march 30th. 2016.</small></h2>
                        <p>
                            This is the first, but hopefully no the last conference here at the IT University. 
                            The attention we have gathered is more than we could ever have hoped for!
                        </p>
                    </div>
                    <div class="container">
                        <div class="row speaker" ng-repeat="x in ctrl.vids">
                            <div ng-if="$even" class="col-lg-6">
                                <h1>{{x.name}}:<br><small> {{x.title}}</small></h1>
                                <p>{{x.description}}</p>
                            </div>
                            <div class="col-lg-6">
                                <iframe width="560" height="315" ng-src="{{x.video|trustAsResourceUrl}}"  frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div ng-if="$odd"class="col-lg-6">
                                <h1>{{x.name}}:<br><small> {{x.title}}</small></h1>
                                <p>{{x.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="education" class="container content-section text-xs-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>Educational events</h1>
                    <p>During 2016-17 we are visiting a lot of Danish high school classes to talk to them about digital citizenship.</p>
                    <p>More information will follow.</p>
                    <p>If you are interested in hosting a talk about digital privacy and citizenship, then contact us at the emails below.</p>
                </div>
            </div>
        </section>
        <section id="press" class="container content-section text-xs-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>Press</h1>
                    <div class="col-lg-6">
                        <p><strong>Conference press</strong></p>
                        <p ng-repeat="x in ctrl.conflinks"><a href="{{x.link}}">{{x.description}}</a> in <small>{{x.from}}</small></p>
                    </div>
                    <div class="col-lg-6">
                        <p><strong>Other press</strong></p>
                         <p ng-repeat="x in ctrl.otherlinks"><a href="{{x.link}}">{{x.description}}</a> in <small>{{x.from}}</small></p>
                    </div>
                    

                </div>
            </div>
        </section>

        <!-- Contact Section -->
        <section id="contact" class="container content-section text-xs-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Contact Crypto backers</h2>

                    <ul class="list-inline banner-social-buttons">
                        <li class="list-inline-item">
                            <a href="mailto:sofu@itu.dk" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">Email</span></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="mailto:mgev@itu.dk" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">Email</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>


        <!-- Footer -->
        <footer>
            <div class="container text-center">
                <p>Copyright &copy; Crypto backers | Theme forked from <a href="http://startbootstrap.com/template-overviews/grayscale/">Grayscale</a></p>
            </div>
        </footer>

        <!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="js/jquery.easing.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="js/grayscale.js"></script>
    </body>

</html>
